body {
  font-family: sans-serif !important;
}

/*SECTIONS STYLES */

/*Products*/
#products-section {
    display: flex;
    flex-direction: column;
}

.products-section-box {
    display: flex;
    flex-direction: row;
}


.item-list-aside-column {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px){

    .products-section-box {
        display: flex;
        flex-direction: column-reverse;
    }

    .item-list-aside-column{
        margin-top: 10%;
    }
}

.item-list-products-column {
    display: flex;
    flex-direction: column;
    margin-top: 5% !important;
}





@media (max-width: 768px){
    .card{
        grid-column-gap: 0px !important;
    }
    .card-title, .card-text {
        font-size: 0.85rem;
    }
    .card-text-small {
        font-size: 0.45rem;
    }
}

section {
  margin: 3%;
}

/* CART */

.empty-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 15%;
  text-align: center;
}



/* FOOTER */


.footer {
  margin-top: 35px; }

footer {
  position: relative;
  bottom: 0; }

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 55px 50px;
  margin-top: 80px;
  color: rgba(255, 255, 255, 0.788) !important;
  font-family: 'Didact Gothic', sans-serif !important;
  font-size: 16px; }

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top; }

.footer-distributed .footer-left {
  width: 40%; }

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0; }

.footer-distributed h3 span {
  color: #5383d3; }

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0; }

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit; }

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0; }

.footer-distributed .footer-center {
  width: 35%; }

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle; }

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px; }

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0; }

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2; }

.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none; }

.footer-distributed .footer-right {
  width: 20%; }

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0; }

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px; }

.footer-distributed .footer-icons {
  margin-top: 25px; }

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px; }

.fa {
  width: 70%;
  height: 70%; }

@media (max-width: 768px) {
  .footer-distributed {
    font-size: 14px; }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center; }
  .footer-distributed .footer-center i {
    margin-left: 0; }
  .main {
    line-height: normal;
    font-size: auto; }
  .navbar_secondary {
    display: none !important; }
  .header-content h1 {
    font-size: 50px;
    margin-top: 15rem; }
  .BreakingNews_title {
    margin: -7% 0 11% 0; }
  .card-body .card-text {
    display: none; } } 


    /* OTRO */

    form {
      margin: 6%;
    }

    h2 {
      margin: 3% !important;
    }